@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');



body{
    
 
   
    background-color:rgb(252, 174, 29);
}




 
#col-1{
    float: left;
}
#col-2{
    float: left;
    
}
#col-3{
    float: right;
}
.row{
    float: inline-end;
    align-content: space-around;
    justify-content: center;
    
}
table tbody th {
    padding: 10px;
    width: 200px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
   
    
}
#skills th{
    background-color: rgb(255, 61, 207);
    
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
 
    
}
#skills td{
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
    border-collapse: collapse;
    background-color: rgb(255, 61, 207);
    border-color: rgb(255, 61, 207); 
    height: 30px;
    text-align: center;
    
}
table{
    border-collapse: collapse;
    
}
th, td{
    padding: 0;
}
#flex{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.Home{
    width: 300px;
    height: 100px;
    border: none;
    color: white;
    font-family:  'Rubik Mono One', sans-serif;
    background-color: rgb(252, 174, 29);
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    border: 3px solid  rgb(252, 174, 29);
    position: relative;
    z-index: 1;
    
  }
  .Home:hover{
    box-shadow: inset 300px 000 rgb(252, 174, 29);
    border:rgb(252, 174, 29) ;
    cursor: pointer;
    color: black;
  }
  .About{
    width: 300px;
    height: 100px;
    border: none;
    color: white;
    background-color: rgb(64, 190, 91);
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    border: 3px solid rgb(64, 190, 91) ;
    position: relative;
    z-index: 1;
  }
  .About:hover{
    box-shadow: inset 300px 000 rgb(253, 253, 70);
    border-color: rgb(253, 253, 70);
    cursor: pointer;
    color: black;
  } 
  .Resume{
    width: 300px;
    height: 100px;
    border: none;
    color: white;
    background-color: rgb(64, 190, 91) ;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    border: 3px solid  rgb(64, 190, 91);
    position: relative;
    z-index: 1;
  }
  .Resume:hover{
    box-shadow: inset 300px 000 rgb(252, 92, 34);
    border:rgb(252, 92, 34);
    cursor: pointer;
    color: black;
  }
  .Contact{
    width: 300px;
    height: 100px;
    border: none;
    color: white;
    background-color: rgb(64, 161, 240); ;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    border: 3px solid  rgb(64, 161, 240);;
    position: relative;
    z-index: 1;
  }
  .Contact:hover{
    box-shadow: inset 300px 000 rgb(253, 253, 70);
    border: rgb(253, 253, 70);
    cursor: pointer;
    color: black;
  }
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:flex-start;
    text-align: center;
    height: 30vh;
  
  }
  div a{
    font-family: 'Rubik Mono One', sans-serif;
    letter-spacing: 4px;
    text-decoration: none;
    color: white;
  }
  div a:hover{
    color: black;
  
}
.Portfolio{
  width: 300px;
  height: 100px;
  border: none;
  color: white;
  background-color: rgb(64, 161, 240); 
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none;
  border: 3px solid   rgb(64, 161, 240);;
  position: relative;
  z-index: 1;
}
.Portfolio:hover{
  box-shadow: inset 300px 000 rgb(252, 92, 34);
  border-color: rgb(252, 92, 34);
  cursor: pointer;
  color: black;
} 
#myself img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 15%;
  border: 5px;
  border-style: solid;
  border-color: rgb(252, 92, 34);
  border-width: 10px;
  margin-left: 275px;
  margin-bottom: 600px;
  
}

iframe{
 display: flex;
 flex-direction: row;
 justify-content: center;
 
  border: 25px;
  border-style:dotted;
  border-top-color: rgb(64, 161, 240);
  border-bottom-color: rgb(64, 161, 240);
  border-left-color: rgb(64, 190, 91);
  border-right-color: rgb(64, 190, 91); 
   margin-bottom: 200px;
}
#goals{
  font-family:'Rubik Mono One', sans-serif; 
  text-align: center;
  color:rgb(253, 253, 70);
  font-size:10ch;
  margin-left: 400PX;
  font-weight:lighter;
  

}
#timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
 
}
#video{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
h1{
  text-align: center;
  font-family:'Rubik Mono One', sans-serif ;
  font-size: xxx-large;
  color: rgb(252, 92, 34);
  font-weight: lighter;
}
